body {
    font-family: Metropolis;
    margin: 0;
    padding: 0;
    background-color: #50B164;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    height: auto;
}

.construction {
    text-align: center;
    color: white;
    width: 90%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 1rem;
    margin: 2rem auto;
}



a {
 color: white !important;
 text-decoration: none;
 transition: 300ms;
}

a:hover {
    color: black !important; 
}